body{
    font-family: 'Poppins', sans-serif;
}
body h1{
    font-size: 3rem;
}
body h2{
    font-size: 3rem;
}
body h3{
    font-size: 2rem;
}


.navbar {
    background-color: #CBB279;
    font-family: 'Poppins', sans-serif;
    
}
.navbar a {
    color: #EEEEEE;
}
section.main-page{
    background-color: #E1D4BB;
}
section.container-fluid {
    padding: 3% 10%;
}
section.my-books-sec{
    width: 100%;
    height: 100%;
}
section.books-list ul{
    display: flex;
    justify-content: space-between;
}
section.books-list ul li{
    list-style-type: none;
}
ul{
    text-decoration: none;
}

.book{
    width: 50%;
    height: auto;
}
.book img{
    width: 100%;
    height: 100%;
}